<%= form_for @community do |f| %>
	<form class="form-horizontal" role="form">
		<div class="form-group">
	    <%= f.label :name, "名前", :class=>'col-sm-2 control-label' %>
	    <div class="col-sm-10">
	      <%= f.text_field :name, autofocus: true, placeholder: 'Name', :class=>'form-control' %>
	    </div>
	  </div>

	  <div class="form-group">
	    <%= f.label :desc, :class=>'col-sm-2 control-label' %>
	    <div class="col-sm-10">
	      <%= f.text_area :desc, autofocus: true, placeholder: 'Description', :class=>'form-control' %>
	    </div>
	  </div>

	  
		

	  <br><br><br>

		<div class="col-md-6 col-md-offset-3">
			<%= f.submit "Make!", :class=>'btn btn-primary' %><br><br>
			
		</div>
	</form>

<%end %>